{
  "id": "485e2c8c-4b0b-f6fa-8ec3-e2e2ea31845f",
  "name": "Postman Globals",
  "values": [
    {
      "key": "_f5_enable_polled_mode",
      "type": "text",
      "value": "1",
      "enabled": true
    },
    {
      "key": "_f5_poll_max_tries",
      "type": "text",
      "value": "60",
      "enabled": true
    },
    {
      "key": "_f5_poll_wait",
      "type": "text",
      "value": "5",
      "enabled": true
    },
    {
      "key": "_f5_poll_useinternal",
      "type": "text",
      "value": "0",
      "enabled": true
    },
    {
      "key": "_f5_poll_apiurl",
      "type": "text",
      "value": "http://echo.getpostman.com/delay",
      "enabled": true
    },
    {
      "key": "_f5_poll_bypass_timeout",
      "type": "text",
      "value": "0",
      "enabled": true
    },
    {
      "key": "_f5_poll_iterator",
      "type": "text",
      "value": "1",
      "enabled": true
    },
    {
      "key": "_f5_poll_curr",
      "type": "text",
      "value": "1",
      "enabled": true
    },
    {
      "key": "_f5_debug",
      "type": "text",
      "value": "1",
      "enabled": true
    },
    {
      "key": "_f5_test_functions",
      "type": "text",
      "value": "{{f5_test_functions}}",
      "enabled": true
    }
  ],
  "_postman_variable_scope": "globals",
  "_postman_exported_at": "2016-12-04T16:05:14.023Z",
  "_postman_exported_using": "Postman/4.8.3"
}
