[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Hitesh Patel (0xHiteshPatel)
[access "refs/for/refs/*"]
	read = group user/Hitesh Patel (0xHiteshPatel)
	push = group user/Hitesh Patel (0xHiteshPatel)
	label-Code-Review = -2..+2 group user/Hitesh Patel (0xHiteshPatel)
	label-Verified = -1..+1 group user/Hitesh Patel (0xHiteshPatel)
	rebase = group user/Hitesh Patel (0xHiteshPatel)
	removeReviewer = group user/Hitesh Patel (0xHiteshPatel)
	submit = group user/Hitesh Patel (0xHiteshPatel)
[access "refs/heads/*"]
	read = group user/Hitesh Patel (0xHiteshPatel)
	create = group user/Hitesh Patel (0xHiteshPatel)
	push = +force group user/Hitesh Patel (0xHiteshPatel)
	pushMerge = group user/Hitesh Patel (0xHiteshPatel)
[access "refs/tags/*"]
	push = group user/Hitesh Patel (0xHiteshPatel)
	push = +force group user/Hitesh Patel (0xHiteshPatel)
